
    
    .ColorHead{
    background-color: #ade2fa;
    height:20%;

    }
    
    .colorBody{
      background-color: #ade2fa;
      height:77.4%;
    }
    footer{
      background-color: #ade2fa;  
      height:3%;

      margin-top: -50px;
    }
    html{
      height: 100%;
    }
    
    