<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->





   <div class="ColorHead"> 
      <h1><b>Tareas Manager</b></h1>
      <div class="Flex">
        <button routerLink="/list">Tarea List</button>
        <button routerLink="/add">Add tareas</button>
        <button routerLink="/addTipo">Add Tipo Tarea</button>
      </div>
      <br>
    </div>
    <div class="colorBody">
      <router-outlet style="height: 100%;"/>
    </div>



<!--
<div class="Flex">
  <app-lista-tareas style="width:50%"></app-lista-tareas>
  
  <app-tareas-add style="position:fixed;top:45%;right:5%; width: 43%;"></app-tareas-add>
</div>
-->