
    
    .ColorHead{
    background-color: #ade2fa;
    height:30%;
    resize: none;

    }
    .colorBody{
      background-color: #ade2fa;
      height:67.4%;
      resize: none;
    }
    footer{
      background-color: #ade2fa;  
      height:3%;
      resize: none;
      margin-top: -50px;
    }
    html{
      height: 100%;
    }
    
    