.Flex{
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:5%;
    align-items: center;
    }
    .Centrado{
      display:flex;
      justify-content:space-between;
    }
    .itemDeCentradoEmpty{
      flex:1;
      margin:5;
      background-color: #ade2fa;
    }
    .itemDeCentrado{
      flex:1;
      margin:5;
    }
    .ColorHead{
    background-color: #ade2fa;
    }
    
    .colorBody{
      background-color: #ade2fa;
      height:100%;
    }
    
    
    html{
      height: 100%;
    }
    
    