
<div class="Centrado">
    <div class="itemDeCentradoEmpty">
    </div>
    <div class="itemDeCentrado">
        <h1>Lista de Tareas</h1>
        <div class="overflow">
            <ul class="estiloUl">
                <li class="estiloListaCelda" *ngFor="let tarea of tareas; let i=index">
                    <div class="divLi">
                        <div class="textoli">
                            {{tarea.name}} <br>Type:{{tipoTareas[tarea.type]}} <br>
                            <button (click)="deleteTarea(i)" class="botonRojo">Eliminar</button><br>
                            <button (click)="goToModify(i)" class="botonVerde">Modify</button>
                        </div>
                        <div>
                            <img [src]="iconos[tarea.type]" alt="Icono de tarea"  class="imagen">
                        </div>
                    </div>
                </li>	
            </ul>
        </div>	
    </div>
    <div class="itemDeCentradoEmpty">
    </div>
</div>


<!--Parte 2 Modify-------------->

<!--
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/action_page.php">
      <div class="container">
        <h1>Modify Tarea</h1>
        <textarea #NameTarea>{{tareas[indexmdf].name}}</textarea>
        <select #TipoTarea>
            <option *ngfor="let tipo of tipoTareas;let i=index;" [value]= i >{{tipo}}</option>
        </select>
    
        <div class="clearfix">
          <button type="button" class="cancelbtn">Cancel</button>
          <button (click)="modifyTarea(indexmdf,{name:NameTarea.value ,type:TipoTarea.value})" class="modifybtn">Delete</button>
        </div>
      </div>
    </form>
  </div>
-->






            
   
