.zonaCentral{
	height:100%;
	width:5%;
}
.zonaDerecha{
	height:100%;
	width:100%;
	
}
.zonaIzquierda{
	background-color:#1EFBDC;
	height:100%;
	width:25%;
}
.tablaGeneral{
	height:100%;
	width:100%;
	border:0px;
	padding:0px;
}
.estiloListaCelda{
	border:10px;
	border-color: solid black;
	border-radius: 10px;
	size: 20px;
	align-items:center;
	margin-left: 5%;
	width:90%;
	margin-bottom:25px
}
.estiloListaCelda:hover{
	background-color:rgb(155, 229, 252);
}

.estiloLista li{
	list-style-type: none;
	padding: 0;
	display: flex; 
	align-items: center; 
	margin-bottom: 15%;
	cursor: default ;
}

.posLista{
	padding-left:25%
}
.botonVerde{
	background-color:rgb(104, 211, 104);
	font-size:18px;
	padding: 2px 10px;
	border:0;
	cursor: pointer;
    border-radius: 60px;
}
.botonVerde:hover{
	background-color:#71aff1;
	color:white;
}
.textoli{
	margin-left: 5px;
	margin-top: 5px;
}
.name{
 height: 20px;
 margin: 0;
 font-size: 15px;
 overflow-x: auto;
}
.type{
	height: 20px;
	font-size: 12px;
	margin: 0;
}
.botonRojo{
	margin-top: 5px;
	padding: 2px 5px;
	border:0;
	background-color:#F07167;
	font-size:18px;
	color:white;
    border-radius: 60px;
	margin-bottom: 5px;
}
.botonRojo:hover{
	background-color:#493843;
	color:white;
}
.botones{
width: min-content;
}
.Botones2{
	display:flex;
	flex-direction: row;
	width:100%;

}
.botones3{
	width:100%;
}
.checkbox-input:checked{
	content: "";
    width: 20px; 
    height: 20px;
}
.inportante{
	background-color:yellow;
}

.contenedorListas{
	border:2px;
	border-radius:15px;
}
.trIzquierda{
	display:flex;
	justify-content: space-between;
	padding:10px;
}

.checkbox-input{
	width: 20px; 
    height: 20px;
    border-radius: 60px;
}
.Contenedor{
	display:flex;
	justify-content: space-between;
	padding:10px;
}
.Centrado{
	height:100%;
	display:flex;
	justify-content:space-between;
	
  }
  .itemDeCentradoEmpty{
	width:auto;
	margin:5;
	background-color: transparent;
  }
  .itemDeCentrado{
	
	width:650px;
	margin-left: 7.5%;
	margin-right: 7.5%;
	margin-bottom:15px;
	background-color: white;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  }
.imagen{
	margin-right: 15px;
	margin-top: 5px;
	height: 100px;
	width: 100px;
}
.divLi{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	gap:15%;
}
.estiloUl{
	height: 100%;
}
.overflow{
	height: 74%;
	overflow-y: auto;
}

table{
	padding: 0;
	margin: 0;
	border-collapse:collapse;
}
li{
	padding-top:15px;
	padding-bottom: 15px;
}
p{
	font-size:20px;
}
h1{
	font-size:40px;
	text-align:center;
	background: linear-gradient(445deg, #ade2fa, #98ddfd);
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

}
ul{
	list-style-type: none; 
	padding: 0;
	margin: 0; 
	width:100%;
}
