
<div class="contenedor">
    <div class="estiloG">
        <h1>Modify Tareas</h1>
        <div class="Textos">
                <textarea #tareaName placeholder="Name" class="Nombre" [value]="tareaActual['nombre']"></textarea>

                <select #tareaType class="Tipo" >
                    <option  *ngFor="let tipo of tipoTareas; let i=index;" [value]=i [selected]="i===tareaActual['tipo']">{{tipo['nombre']}}</option>
                </select>
        </div>
        <div class="Boton">
            <button (click)="modifyTarea({name:tareaName.value,type:tareaType.value})" class="botonVerde">Modify Tarea</button>
        </div>
    </div>
</div>
