

    <div class="estiloG">
        <h1>Add Tareas</h1>
        <form [formGroup]="form" (submit)="send()">
            <div class="Textos">
                <input id=tareaName formControlName="nombreTarea" placeholder="Name" class="Nombre">
                <select id=tareaType class="Tipo" formControlName="tipoTarea">
                    <option *ngFor="let tipo of tipoTareas; let i=index" [value]="tipo['id']">{{tipo['nombre']}}</option>
                </select>
            </div>
            <div class="descripcionContainer"> 
                <textarea #tareaDescripcion placeholder="Esta desabilitado lo que escrivas no se guardara" formControlName="decripcionTarea" class="descripcion"></textarea>
            </div>
            <div class="Boton">
                <button [disabled]="form.invalid" class="botonVerde">Add Tarea</button>
            </div>
        </form>
    </div>

