

    <div class="estiloG">
        <h1>Add Tareas</h1>
        <div class="Textos">

                <textarea #tareaName placeholder="Name" class="Nombre"></textarea>

                <select #tareaType class="Tipo">
                    <option *ngFor="let tipo of tipos; let i=index" [value]=i>{{tipo}}</option>
                </select>
        </div>
        <div class="descripcionContainer"> 
            <textarea #tareaDescripcion placeholder="Descripcion" class="descripcion"></textarea>

        </div>
        <div class="Boton">
            <button (click)="addTarea(tareaName.value,tareaType.value,tareaDescripcion.value)" class="botonVerde">Add Tarea</button>
        </div>
    </div>

