.Textos{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 5px;
    }
    .Nombre{
        width:35%;
        margin-left: 5%;
        font-size: 16px;
        resize: none;
    }
    .descripcion{
        width:50%;
        margin-top: 30px;
        font-size: 16px;
        resize: none;
        height: 400px;
    }
    .descripcionContainer{
        display:flex;
        justify-content: center;
    }
    .Tipo{
        width:35%;
        margin-right: 5%;
        resize: none;
    }
    .estiloG{
        display:flex;
        height: 100%;
        width:650px;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    
    }
    .Boton{
        display:flex;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
    }
    .botonVerde{
        background-color:green;
        font-size:25px;
        cursor: pointer;
        border-radius: 60px;
    }
    .botonVerde:hover{
        background-color:#007bff;
        color:white;  
    }
    .lista{
        height: 65%;
        overflow-y: auto;
    }
    .espacio1{
        height: 40%;
    }
    .espacio2{
        margin-top:20px;
        height: 70%;
        max-height: 70%;
    }

    h1{
        font-size:40px;
        text-align:center;
        background: linear-gradient(445deg, #ade2fa, #98ddfd);
        padding: 20px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    h2{
        font-size: 30px;
        margin-left:30px;
    }